<!-- Слайдер -->
<div class="container py-5 my-4">
  <div class="row justify-content-center">
    <div class="col-auto">

      <div class="hero-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="slider-part slider-part--1 d-flex align-items-center ps-4">
              <div class="ms-5 ps-5">
                <h1 class="pb-5 mb-4">Скидки на травянные чаи</h1>
                <p class="pb-5 mb-4">Узнай все подробности, заполнив заявку</p>
                <a [routerLink]="['/order']" type="button" class="btn btn-primary hvr-pulse">
                  Заполнить
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slider-part slider-part--2 d-flex align-items-center ps-4">
              <div class="ms-5 ps-5" style="max-width: 525px">
                <h1 class="pb-5 mb-4">Закажи три пачки чая и получи подарок</h1>
                <a [routerLink]="['/order']" class="btn btn-primary mb-5 hvr-pulse">
                  Заказать
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slider-part slider-part--3 d-flex align-items-center ps-4">
              <div class="ms-5 ps-5">
                <h1 class="pb-5 mb-4">Попробуй нашу новинку — ягодный чай</h1>
                <a [routerLink]="['/order']" class="btn btn-primary mb-5 hvr-pulse">
                  Заказать
                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- Кастомные стрелки (вместо стандартных swiper-button-*) -->
        <div class="hero-arrow hero-arrow--prev"></div>
        <div class="hero-arrow hero-arrow--next"></div>
      </div>

    </div>
  </div>
</div>
<!-- FAQ / Аккордеон -->
<div class="container pt-5 pb-4">
  <h2 class="text-center">Ответы на часто задаваемые вопросы</h2>

  <div class="accordion faq-accordion mt-5" id="faqAccordion">

    <div class="accordion-item border-0 bg-transparent">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed bg-primary bg-gradient border border-primary border-2 rounded text-white p-3 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq-answer-1"
          aria-expanded="false"
          aria-controls="faq-answer-1"
        >
          Собираете ли вы подарочные боксы?
        </button>
      </h3>

      <div
        id="faq-answer-1"
        class="accordion-collapse collapse"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body border border-0">
          <p>
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item border-0 bg-transparent">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed bg-primary bg-gradient border border-primary border-2 rounded text-white p-3 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq-answer-2"
          aria-expanded="false"
          aria-controls="faq-answer-2"
        >
          Сколько у вас разновидностей чая?
        </button>
      </h3>

      <div
        id="faq-answer-2"
        class="accordion-collapse collapse"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body border border-0">
          <p>
            Все разновидности представлены на сайте в разделе "Наши чайные коллекции"
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item border-0 bg-transparent">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed bg-primary bg-gradient border border-primary border-2 rounded text-white p-3 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq-answer-3"
          aria-expanded="false"
          aria-controls="faq-answer-3"
        >
          В какой срок осуществляется доставка?
        </button>
      </h3>

      <div
        id="faq-answer-3"
        class="accordion-collapse collapse"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body border border-0">
          <p>
            5-6 дней
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item border-0 bg-transparent">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed bg-primary bg-gradient border border-primary border-2 rounded text-white p-3 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq-answer-4"
          aria-expanded="false"
          aria-controls="faq-answer-4"
        >
          У вас обновляется ассортимент?
        </button>
      </h3>

      <div
        id="faq-answer-4"
        class="accordion-collapse collapse"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body border border-0">
          <p>
            Да, раз в полгода
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item border-0 bg-transparent">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed bg-primary bg-gradient border border-primary border-2 rounded text-white p-3 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#faq-answer-5"
          aria-expanded="false"
          aria-controls="faq-answer-5"
        >
          Какого объема у вас пачки чая?
        </button>
      </h3>

      <div
        id="faq-answer-5"
        class="accordion-collapse collapse"
        data-bs-parent="#faqAccordion"
      >
        <div class="accordion-body border border-0">
          <p>
            Каждая пачка объёмом 30 грамм
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="popup-container position-fixed top-0 left-0 d-flex align-items-center justify-content-center w-100 h-100"
      *ngIf="isPopupShow">
  <div class="popup card m-5 p-5 border border-black border-1 rounded-5">
    <div class="close position-absolute" (click)="closePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
        <path d="M22.6066 21.3934C22.2161 21.0029 21.5829 21.0029 21.1924 21.3934C20.8019 21.7839 20.8019 22.4171 21.1924 22.8076L22.6066 21.3934ZM40.9914 42.6066C41.3819 42.9971 42.0151 42.9971 42.4056 42.6066C42.7961 42.2161 42.7961 41.5829 42.4056 41.1924L40.9914 42.6066ZM21.1924 41.1924C20.8019 41.5829 20.8019 42.2161 21.1924 42.6066C21.5829 42.9971 22.2161 42.9971 22.6066 42.6066L21.1924 41.1924ZM42.4056 22.8076C42.7961 22.4171 42.7961 21.7839 42.4056 21.3934C42.0151 21.0029 41.3819 21.0029 40.9914 21.3934L42.4056 22.8076ZM21.1924 22.8076L40.9914 42.6066L42.4056 41.1924L22.6066 21.3934L21.1924 22.8076ZM22.6066 42.6066L42.4056 22.8076L40.9914 21.3934L21.1924 41.1924L22.6066 42.6066Z" fill="black"/>
      </svg>
    </div>
    <div class="popup-text">Посмотрите наши чайные коллекции</div>
    <a [routerLink]="['/products']" class="btn btn-primary mt-3 p-3 w-100">Посмотреть</a>
  </div>
</div>
